@charset "UTF-8";

body {
    background-color: #f2f2f2 !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: absolute;
    top: 7%;
    left: 0;
    height: 100%;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#loadingBuffering {
    background: url("../images/loading-buffering.gif") no-repeat center center;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

#iconName {
    width: 40px;
    border-radius: 0 50% 50% 50%;
    border: 2px solid #494848;
    float: left;
}

#successImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#astronautSuccessImage{
    width: 60%;
}

#marsBanner {
    background: url(../images/mars-banner.jpg);
    color: white;
    text-align: center;
}

.vertical-center {
    display: table;
    margin: auto;
  }

  .dropdown-item {
      color:white !important;
      display: table;
      margin: auto;
  }

  a:hover {
    cursor:pointer;
   }
  
   .capitalize{
       text-transform: capitalize;
   }
 